/* 카테고리 */
#area {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;
}

#type {
  position: absolute;
  top: 10px;
  left: 80px;
  z-index: 1;
}

/* 인포윈도우 */
.wrap {
  width: 288px;
  height: 132px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}

.wrap * {
  padding: 0;
  margin: 0;
}

.wrap .title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}

.wrap .body {
  position: relative;
  overflow: hidden;
}

.wrap .desc {
  position: relative;
  margin: 13px 0 0 10px;
  height: 75px;
}

.desc .ellipsis {
  overflow: hidden;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
}

.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}

.wrap .link {
  color: #5085bb;
}

/* 상세정보창 */
#detailInformation {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: ivory;
  z-index: 1;
}

#detailInformation #weather {
  height: 25%;
  background: lawngreen;
}

#detailInformation #center_name {
  height: 15%;
  background: darkcyan;
  color: white;
}

#detailInformation #center_address {
  height: 20%;
  background: brown;
  color: white;
}

#detailInformation #center_callNumber {
  height: 10%;
  background: cornflowerblue;
  color: white;
}

#detailInformation #center_cost {
  height: 10%;
  background: darkgray;
  color: white;
}

#detailInformation #center_fishSpecies {
  height: 10%;
  background: darkslateblue;
  color: white;
}

#detailInformation #center_safetyFacilities {
  height: 10%;
  background: darkslategray;
  color: white;
}